/*This stye css file is a Frankenstein of many sources. */

body {
    background: #DEFFFF;
    color: #525252;
    /* background: #DDF0F0; */
    /* color: #ffd9b3; */
    /* background: #2F4F4F; */
    /* color: #f8e9d9; */
    /* color:    #f5dfc8; */
    /* color: #dddddd; */
    /* font-family: "Deja Vu Sans", Sans-Serif; */
    /* font-family: "Sofia", Sans-Serif; */
    /* font-family: "Assistant", Sans-Serif; */
    font-family: system-ui;
    font-size: 120%;
    line-height: 1.5em;
    margin: 20px auto; /* "auto" for centering */
    padding: 0;
    max-width: 60%;
}

a {
    color: #525252;
    font-weight: bold;
}

a:visited {
		/* color: #edd207; */
    color: #525252;
    /* color: #FF9900; */
}

code {
    font-weight: bold;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

p {
		text-align: justify;
}

h1 {
		line-height: 120%;
}

h2 {
		/* background-color: #003366; */
		/* border-radius: 10px 10px; */
		padding: 10px 20px;
}

.post-details {
    max-width: 200px;
    font-family: monospace;
    font-size: 12px;
		background-color: #222222;
		border-radius: 10px 10px;
		padding: 5px 20px;
		color: #dddddd;}

/******************************************************************************/
.title {
		background-color: #222222;
		/* border-radius: 10px 10px; */
		font-family: 'Grandstander'; /* system-ui;*/
		padding: 40px 40px;
		color: #FF9900;
}

.title h1 {
		line-height: 40px;
		padding: 20px 20px;
		font-size: 200%;
}


.subtitle {
		font-weight: bold;
		font-style: italic;
		text-align: center;
}

.title p {
		margin-top: -20px;
		padding: 5px 0;
}

/******************************************************************************/
#table-of-contents {
		background-color:#222222;
		border-radius: 10px 10px;
		border: 3px solid #003666;
		/* border: 3px solid gray; */
		font-weight: bold;
		padding: 0 10px;
		/* position: fixed; */
		/* left: 0; */
		/* top: 50; */
		/* text-align: right; */
}


#table-of-contents h2 {
		background-color: #222222;
		border-radius: 10px 10px;
		padding: 10px 20px;
}


#preamble {
		/* background-color:#222222; */
		/* border-radius: 5px 20px 5px 20px; */
		/* border-radius: 20px 20px; */
		/* border: 3px solid gray; */
		font-weight: bold;
		padding: 0 10px;
		/* position: fixed; */
		right: 0;
		top: 0;
		max-width: 640px;
		text-align: center;
		/* text-align: right; */
}

#preamble a {
    color: #006666;
		text-decoration: none;
		white-space: nowrap;
		margin: 0 10px 0 0;
}

#preamble a:hover {
		color: #dddddd;
}

footer {
		background: #222222;
		border-radius: 10px 10px;
		padding: 5px 0 10px 0;
		text-align: center;
		vertical-align: middle;
}

footer p {
		margin: 0px;
		text-align: center;
}

#postamble {
		background: #222222;
		/* border-radius: 10px 10px; */
		padding: 5px 0 10px 0;
		text-align: center;
		vertical-align: middle;
		/* font-family: courier; */
}

#postamble p {
		margin: 0px;
		text-align: center;
}

/******************************************************************************/
.tag {
		background: #444444;
		border-radius: 10px 10px;
		font-family: bold;
		font-size: 12px;
		padding: 2px;
}

/*defaults form org-mode export */


  .title  { text-align: center; }
  .todo   { font-family: monospace; color: red; }
  .done   { color: green; }
  /* .tag    { background-color: #eee; font-family: monospace; */
  /*           padding: 2px; font-size: 80%; font-weight: normal; } */
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .center { margin-left: auto; margin-right: auto; text-align: center; }
  .underline { text-decoration: underline; }
  /* #postamble p, #preamble p { font-size: 90%; margin: .2em; text-align: center;} */
  p.verse { margin-left: 3%; }
  pre {
    color: white;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
    background-color:#003f02; /* #dddddd ; */
  }
  pre.src {
    position: relative;
    overflow: auto;
    padding-top: 1.2em;
  }
  pre.src:before {
    color: blue;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  pre.src-sh:before    { content: 'sh'; }
  pre.src-bash:before  { content: 'bash'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-R:before     { content: 'R'; }
  pre.src-perl:before  { content: 'Perl'; }
  pre.src-java:before  { content: 'Java'; }
  pre.src-sql:before   { content: 'SQL'; }

  table { border-collapse:collapse; }
  caption.t-above { caption-side: top; }
  caption.t-bottom { caption-side: bottom; }
  td, th { vertical-align:top;  }
  th.right  { text-align: center;  }
  th.left   { text-align: center;   }
  th.center { text-align: center; }
  td.right  { text-align: right;  }
  td.left   { text-align: left;   }
  td.center { text-align: center; }
  dt { font-weight: bold; }
  .footpara:nth-child(2) { display: inline; }
  .footpara { display: block; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }
  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }
  #org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
  textarea { overflow-x: auto; }
  .linenr { font-size: smaller }
  .code-highlighted { background-color: #ffff00; }
  .org-info-js_info-navigation { border-style: none; }
  #org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
  .org-info-js_search-highlight
    { background-color: #ffff00; color: #000000; font-weight: bold; }

